h1{
	text-align: center;
	font-size: 40px;
}

span{
	font-weight: 600;
	color: black;
}

.btn {
	color: rgb(31, 31, 31);
	background:rgb(255, 166, 0);
	border: 2px solid black;
	border-radius: 4px;
	font-size: 20px;
	width: 100%;
	float: left;
	padding: 10px;
	text-align: start;
	margin:5px ;
}
.btn:hover{
	background-color: rgb(255, 131, 30);
	transition: all .3s ease;
}